:root {
    --color-e9027b: #E9027B;
    --color-fb5600: #FB5600;
    --color-fdd201: #FDD201;
    --color-8de902: #8DE902;
    --color-4eb518: #4EB518;
    --color-5294ff: #5294FF;
    --color-00aae8: #00AAE8;
    --color-dcebfe: #DCEBFE;
    --color-151009: #151009;
    --color-fcfaf8: #FCFAF8;
    --font-footer: "JetBrains Mono", sans-serif;
}
