:root {
    --color-6fcf97: #6FCF97;
    --color-2fa084: #2FA084;
    --color-1f6f5f: #1F6F5F;
    --color-eeeeee: #EEEEEE;
    --color-c9d1d3: #C9D1D3;
    --color-d8d0c8: #D8D0C8;
    --color-e6dfd8: #E6DFD8;
    --color-f2ede8: #F2EDE8;
    --color-f8de22: #F8DE22;
    --color-fd6a18: #FD6A18;
    --color-18a0fb: #18A0FB;
    --color-6c63ff: #6C63FF;
    --color-a3a3f5: #A3A3F5;
    --color-fe81d4: #FE81D4;
    --color-fcfaf8: #FCFAF8;
    --color-0a0a0a: #0A0A0A;
    --font-footer: "IBM Plex Sans", sans-serif;
}
