:root {
    --color-ff00a8: #FF00A8;
    --color-00e5ff: #00E5FF;
    --color-ffd600: #FFD600;
    --color-ff6b00: #FF6B00;
    --color-7c4dff: #7C4DFF;
    --color-00ff85: #00FF85;
    --color-151515: #151515;
    --color-000000: #000000;
    --color-ffffff: #FFFFFF;
    --color-ffb3c6: #FFB3C6;
    --color-a0e7ff: #A0E7FF;
    --color-c3f584: #C3F584;
    --color-fff5a5: #FFF5A5;
    --color-ff3f3f: #FF3F3F;
    --color-00a8f3: #00A8F3;
    --color-ff8ae2: #FF8AE2;
    --color-fcfaf8: #FCFAF8;
    --font-footer: "Kanit", sans-serif;
}
