:root {
    --color-f6ae2d: #F6AE2D;
    --color-f26419: #F26419;
    --color-f22719: #F22719;
    --color-042ec4: #042EC4;
    --color-27514a: #27514A;
    --color-fcfaf8: #FCFAF8;
    --color-0a0a0a: #0A0A0A;
    --color-926c48: #926C48;
    --color-c1b09c: #C1B09C;
    --color-e2e3dd: #E2E3DD;
    --color-d9dbda: #D9DBDA;
    --color-abb0b4: #ABB0B4;
    --color-737c83: #737C83;
    --color-3f4042: #3F4042;
    --font-footer: "Google Sans Code", sans-serif;
}
