:root {
    --color-ff66cc: #FF66CC;
    --color-feaaff: #FEAAFF;
    --color-ffb3f7: #FFB3F7;
    --color-00c8ff: #00C8FF;
    --color-0094ff: #0094FF;
    --color-4da6ff: #4DA6FF;
    --color-b8e2ff: #B8E2FF;
    --color-968aff: #968AFF;
    --color-d9c6ff: #D9C6FF;
    --color-00ffa6: #00FFA6;
    --color-7cffe0: #7CFFE0;
    --color-ffe680: #FFE680;
    --color-fff5a5: #FFF5A5;
    --color-f2f2f2: #F2F2F2;
    --font-footer: 'Michroma', sans-serif;
}
